<h1>People App</h1>

<div ng-app="app">
  <div ng-controller="peopleCtrl">
    <ul>
      <li ng-repeat="person in people track by $index" ng-click="toggleBio(person)">
        <h2>{{$index + 1}} {{ person.name }}</h2>
        <div ng-if="person.bioVisible" >
          {{ person.bio }}
        </div>
        <a href="#" ng-click="deleteMe($index)">delete</a>
      </li>
    </ul>

    <input ng-model="newName">
    <input ng-model="newBio">
    <button ng-click="addPerson(newName, newBio)">Add Person</button>

  </div>
</div>
